body {
  width: 20rem;
  padding-inline: 10px;
  padding-block-end: 20px;
  /* width: 300px; */
    border-radius: 12px;
  overflow: hidden;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

h1 {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
  padding-block-end: 0;
  margin-block-end: 0;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

h2 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
  padding-block-end: 5px;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

h3 {
  color: #7F7F7F;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.27px;
  padding-block-start: 10px;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

.font {
  height: 32px;
    /* background: #f0f0f0; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding-inline-start: 8px;
    /* padding: 8px; */
  display: flex;
  align-items: center;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */


.font-details-row {
  display: flex;
  gap: 10px;
  /* width: 100% */
}

.font-details {
  flex: 1;
  height: 32px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding-inline-start: 8px;
  display: flex;
  align-items: center;
  margin-block-start: 10px;
}

.font-details-col {
  flex: 1;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li:nth-child(odd) {
  background: #80808030;
}

li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}

.select-btn{
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  padding-block: 10px;
  padding-inline-start: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  justify-content: space-between;
  padding-inline-end: 15px;
  justify-content: space-between;

  span {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.39px;
  }

  i {
    font-size: larger;
  }
}

.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  /* padding: 20px; */
  /* margin-top: 15px; */
  /* background: #fff; */
  border-radius: 7px;
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
}
.wrapper.active .content{
  display: block;
}

.content .options{

  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;

}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}

.options li {
  height: 35px;
  padding-inline-start: 13px;
  font-size: 13px;
  border-radius: 0;
  display: flex;
  align-items: center;
}

#resetBtn {
  margin-block-start: 1rem;
}

/* from figma why I have px */

#font-description {
  color:#757575;
  margin-block-start: 8px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  letter-spacing: -0.39px;
  padding-inline-start: 4px;
}

#font-description:empty {
    display: none;
}

label {
  display: block;
  margin-block-end: 8px;
  /* margin-block-start: 15px; */
  padding-inline-start: 4px;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.39px;
}

.bg-swatches {
  display: flex;
  gap: 10px;
  padding-inline-start: 4px;
}

/* from figma why I have px */

.swatch {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #757575;
}

.preset-form {
    margin-block-start: 1rem;
}

/* from figma, using px and the extension is so small */

.fonts {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-block-end: 15px;
}

.font-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.font-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 14px;
  border: 2px solid #E5E7EB;
  background: white;
  cursor: pointer;
  padding-block: 10px;
}

.font-preview {
  padding-block-start: 5px;
  font-size: 48px;
  font-weight: 500;
  line-height: 35px;
}

.font-label {
  font-size: 13px;
  color: #6B7280;
  /* padding-block-start: 15px; */
}

.swatch.font-card {
  width: 100px;
  height: 80px;
  border-radius: 14px;
  flex: none;
  margin-block-start: 5px;
}

.font-section .font-card.active {
  border: 2px solid #000;
}

#bg-swatches .swatch.active {
  border: 2px solid #000;
}

#bg-swatches .dark-swatch.active {
  border: 2px solid #2c2c2c;
  outline: 2px solid #fff;
  outline-offset: 2px;
}