/* <!-- following other structure for font css style sheets -->


<!-- body, p, h1, h2, h3, h4, h5, h6, a, li, span, div {
  font-family: "Courier New", Courier, monospace !important;
} --> */

body, div, main, section, article, header {
  background-color: #F0F4FF !important;
}

/* https://typography-interaction-2526.github.io/topic/html/#block-elements 
added more from class site to target block elements to change the font color */
p, h1, h2, h3, h4, h5, h6, span, a, li, label, blockquote, figcaption, pre {
    color: #1a1a2e !important;
}