/* -  Arial default font, not importing cause widely available
- "Arial is the most widely used font for both online and printed media. Arial is also the default font in Google Docs. Arial is one of the safest web fonts, and it is available on all major operating systems."
- https://www.w3schools.com/cssref/css_websafe_fonts.php  */

body {
  width: 20rem;
}

h1 {
  font-family: 'Arial', sans-serif;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #80808030;
}
li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}


/* manifest cause i cant comment


{
  "manifest_version": 3,
  "name": "Type-tuner",
  "version": "1.0",
    "icons": {
    "16": "images/icon-16.png",
    "128": "images/icon-128.png"
  },
  "action": {
    "default_icon": {
      "16": "images/icon-16.png",
      "128": "images/icon-128.png"
    }
  },
  "description": "Changes the font of websites to Comic Sans.",
  "content_scripts": [
    {
      "matches": ["<all_urls>"],
      "css": ["style.css"]
    }
  ]
} */