/* -  Arial default font, not importing cause widely available
- "Arial is the most widely used font for both online and printed media. Arial is also the default font in Google Docs. Arial is one of the safest web fonts, and it is available on all major operating systems."
- https://www.w3schools.com/cssref/css_websafe_fonts.php  */

body {
  width: 20rem;
  padding-inline: 10px;
  padding-block-end: 20px;
  /* width: 300px; */
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

h1 {
  font-family: 'Arial', sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

h2 {
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */
/* 
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

.font {
  height: 32px;
    /* background: #f0f0f0; */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-inline-start: 8px;
    /* padding: 8px; */
  display: flex;
  align-items: center;
}

/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */


.font-details-row {
  display: flex;
  gap: 10px;
}

.font-details {
  flex: 1;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-inline-start: 8px;
  display: flex;
  align-items: center;
  margin-block-start: 10px;
}


/* pasted from Figma prototype, will change to relative units down the line
https://www.figma.com/design/0U98ZUQkZn9AKklQUUK5xy/Lucy-Trepanier?node-id=302-252&m=dev */

p {
  color: #000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}
li:nth-child(odd) {
  background: #80808030;
}
li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}


/* manifest cause i cant comment


{
  "manifest_version": 3,
  "name": "Type-tuner",
  "version": "1.0",
    "icons": {
    "16": "images/icon-16.png",
    "128": "images/icon-128.png"
  },
  "action": {
    "default_icon": {
      "16": "images/icon-16.png",
      "128": "images/icon-128.png"
    }
  },
  "description": "Changes the font of websites to Comic Sans.",
  "content_scripts": [
    {
      "matches": ["<all_urls>"],
      "css": ["style.css"]
    }
  ]
} */