/* went through and added more to fill areas that Eric mentioned in class to me when the nyc times website drop downs wouldn't fill
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements */
body, div, main, section, article, header, aside, footer, figure, button, input, select, textarea {
  background-color: #F0F4FF !important;
}

/* https://typography-interaction-2526.github.io/topic/html/#block-elements 
added more from class site to target block elements to change the font color */
p, h1, h2, h3, h4, h5, h6, span, a, li, label, blockquote, figcaption, pre {
    color: #1a1a2e !important;
}