/* went through and added more to fill areas that Eric mentioned in class to me when the nyc times website drop downs wouldn't fill
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements */
html, body, div, main, section, article, header, aside, footer, figure, nav, button, input, select, textarea {
  background-color: #FAF9F6 !important;
}

/* https://typography-interaction-2526.github.io/topic/html/#block-elements 
added more from class site to target block elements to change the font color */
p, h1, h2, h3, h4, h5, h6, span, a, li, label, blockquote, figcaption, pre, abbr, code, mark, text, strong, nobr, sup {
    color: #2c2c2c !important;
}
